@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.navbar_blur {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 700px;
}

@keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}

.pulse-loader {
  background-color: var(--shadow-color);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--shadow-color);
  }
  100% {
    box-shadow: 0 0 0 12px var(--shadow-color-transparent);
  }
}

