@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --chart-1: 142 70% 40%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --chart-1: 142 90% 30%;
    }
}


:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.navbar_blur {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 700px;
}

@keyframes blur {
  to {
    backdrop-filter: blur(8px);
  }
}

.pulse-loader {
  background-color: var(--shadow-color);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--shadow-color);
  }
  100% {
    box-shadow: 0 0 0 12px var(--shadow-color-transparent);
  }
}

